{% extends 'base.html.twig' %}

{% block title %}Les catégories{% endblock %}

{% block body %}

<h1> Toutes les catégories : </h1>

{% for category in categories %}
    <ul>
        <li>
        <a href="{{ path("category_show", {categoryName: category.name}) }}">{{ loop.index }} / {{ category.name }}</a>
        </li>
    </ul>   
    {# <a href="{{ path('category_show') }}">Lien vers la fiche de la catégorie</a> #}
    {# <a href="{{ path("category_show", {id: category.id}) }}">{{ category.name }}</a> #}
{% endfor %}

{% endblock %}
